.statename {
    text-align: left;
    padding: 5px 20px;
    background-color: #313030;
    margin-top: 10px;
}
.statename h3 {
    margin: 0;
}

.districBlock {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    border: 1px solid #303030;
}

.districts {
    padding: 20px;
    width: 250px;
    text-align: left;
}

.statelist {
    text-align: left;
    list-style: none;
    padding: 0; 
    display: flex;
    flex-wrap: wrap;
}
.statelist li {
    padding: 15px;
    margin: 5px;
    border: 1px solid #777;
    width: 45%;
}
