
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}
body {
  background-color: #000;
}
.dark {
  background-color: #000;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
}


.block {
  padding: 15px;
  width: 160px;
  margin-bottom: 10px;
}

.blue {
  color: #007bff;
}
.block.blue {
  background-color: #cbe3fd;
  border-radius: 5px;
  border: 1px solid;
}

.red {
  color: #ff0000
}
.block.red {
  background-color: #fdd9d9;
  border-radius: 5px;
  border: 1px solid;
}
.grey {
  color: #666666
}
.block.grey {
  background-color: #eee;
  border-radius: 5px;
  border: 1px solid;
}
.green {
  color: #28a745
}
.block.green {
  background-color: #cafdd5;
  border-radius: 5px;
  border: 1px solid;
}

.table-striped.table-dark tbody tr.warning:nth-of-type(odd), .table-striped.table-dark tbody tr.warning:nth-of-type(even){
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.table-striped.table-dark tbody tr td{
  padding: 2px;
}

.App-link {
  color: #61dafb;
}


.flaotingBlocks {
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-around;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
